In [1]:
import re
import pandas as pd

task = '''Card 1: 41 48 83 86 17 | 83 86  6 31 17  9 48 53
Card 2: 13 32 20 16 61 | 61 30 68 82 17 32 24 19
Card 3:  1 21 53 59 44 | 69 82 63 72 16 21 14  1
Card 4: 41 92 73 84 69 | 59 84 76 51 58  5 54 83
Card 5: 87 83 26 28 32 | 88 30 70 12 93 22 82 36
Card 6: 31 18 13 56 72 | 74 77 10 23 35 67 36 11
'''

lines = task.splitlines()
for line in lines:
    line = re.sub(r"Card \d+: ", "",line)

In [44]:
file_path = '04_task02.txt'  # Replace with your file path
with open(file_path, 'r') as file:
    lines = file.readlines()

In [45]:
numbers_list = []
answers_list = []

for line in lines: 
    line = re.sub(r"Card +\d+: ", "",line)
    parts = line.split("|")
    if len(parts) == 2:
        numbers, answers = parts
    numbers_list.append([int(num) for num in re.split(r'\D+', numbers.strip()) if num.strip()])
    answers_list.append([int(ans) for ans in re.split(r'\D+', answers.strip()) if ans.strip()])
    
data = {"numbers": numbers_list, "answers": answers_list}
df = pd.DataFrame(data)

def number_of_matches(line_index):
    return len(set(df.iloc[line_index]['numbers']).intersection(set(df.iloc[line_index]['answers'])))

for index, row in df.iterrows():
    df.at[index, 'matches'] = number_of_matches(index)
df['matches'] = df['matches'].astype(int)

df['instances'] = 1

for line_index, row in df.iterrows():
    reward_start = line_index + 1
    reward_end = line_index + df.iloc[line_index]['matches'] + 1
    if reward_end > len(df) + 1:
        reward_end = len(df) + 1
    cards_to_reward = range(reward_start, reward_end)
    for reward_index in cards_to_reward:
        df.at[reward_index, 'instances'] += df.iloc[line_index]['instances']

In [41]:
df

                numbers                           answers  matches  instances
0  [41, 48, 83, 86, 17]    [83, 86, 6, 31, 17, 9, 48, 53]        4          1
1  [13, 32, 20, 16, 61]  [61, 30, 68, 82, 17, 32, 24, 19]        2          2
2   [1, 21, 53, 59, 44]   [69, 82, 63, 72, 16, 21, 14, 1]        2          4
3  [41, 92, 73, 84, 69]   [59, 84, 76, 51, 58, 5, 54, 83]        1          8
4  [87, 83, 26, 28, 32]  [88, 30, 70, 12, 93, 22, 82, 36]        0         14
5  [31, 18, 13, 56, 72]  [74, 77, 10, 23, 35, 67, 36, 11]        0          1

In [46]:
sum(df['instances'])

5667240